<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather</title>
    <link rel="stylesheet" href="/css/style.css">
   
    </head>
<body>
    {{>header}}

    <p>

         This site gives you weather of a location
    </p>
    <form >
    
   ENter a city: <input type="text" name="address" placeholder="location"/>
    <button type="submit" >Fetch Details</button>
    
    </form>

    <p id="msg1">

    </p>

    <p id="msg2">


    </p>
    
    {{>footer}}
 <script src="/client-js/client-app.js"></script>

</body>
</html>
