<h1>{{title}}</h1>


<div class="topnav" id="myTopnav">
  <a href="/" class="active">Home</a>
  <a href="/weather?address=bhagalpur">News</a>
  <a href="/help">Contact</a>
  <a href="/about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>